.gcloudignore
.git
.github
.vs
**/bin
**/obj
**/.next
**/node_modules
**/*.user
**/*.log
**/appsettings.Development.json
**/worker.log
**/worker.err.log
**/dev-server.log
**/dev-server.err.log
FoodTrust.Web
certs
tmp-api-publish
